*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    padding-top: 40vh;
}
button{
    padding: 3vh;
    font-size: large;
}
#output{
    padding: 2vh;
}