*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("https://wallpapers.com/images/high/blue-yellow-hd-light-tl5ag0cu0k0ijjak.webp") no-repeat;
    background-size: cover;
    background-position: center;
    animation: a 5s linear infinite;
}
@keyframes a {
    100%{
        filter: hue-rotate(360deg);
    }
}
.login-box{
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255, 255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}
h1{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 26px 0;
    border-bottom: 2px solid #fff;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    left: 7px;
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input{
    width: 100%;
    height:50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:#fff;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
button{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}
.register-link{
    font-style: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register-link a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
}
@media(max-width:360px)
{
    .login-box{
        width: 100%;
        height: 100vh;
        border:none;
        border-radius: 0;
    }
    .input-box{
        width: 290px;
    }
}